.ipynb_checkpoints
*/.ipynb_checkpoints/*

debug
__pycache__
.venv
*.pyc

*.egg-info/

# Built as part of docs
doc/auto_examples
doc/_build

# Built by auto_examples
examples/visual_cueing/*.csv

# tests/coverage artifacts
.coverage
coverage.xml
htmlcov

# PyCharm
.idea/
