__pycache__
*.egg-info/

# Created by tests
.coverage
coverage.xml
htmlcov
prof

# Built as part of docs
doc/auto_examples
doc/_build

# Built by auto_examples
examples/visual_cueing/*.csv

# present for people who use pyenv
.venv

# tests/coverage artifacts
.coverage
coverage.xml
htmlcov
