bitstring
pylsl
pygatt
psychopy
scikit-learn
pandas
numpy
mne
seaborn==0.9.0
pyriemann
pexpect
jupyter
ipykernel
vispy
pyglet==1.2
pygatt
muselsl
brainflow
h5py
versioneer
numpydoc
versioneer
matplotlib==3.0.3
