
## ~~ Analysis Requirements ~~ 

scikit-learn>=0.23.2
pandas>=1.1.4
# psychxr build pinned to this version of numpy.
numpy>=1.26,<1.27;  python_version >= "3.9"
numpy<=1.24.4; python_version == "3.8"
mne>=0.20.8
seaborn>=0.11.0
pyriemann>=0.2.7
jupyter
gdown>=4.5.1
matplotlib>=3.3.3
pysocks>=1.7.1
pyserial>=3.5
h5py>=3.1.0
pytest-shutil
pyo>=1.0.3; platform_system == "Linux"
#pynput requires pyobjc, psychopy requires a version less than 8, setting pyobjc to
# a specific version prevents an endless dependency resolution loop.
pyobjc==7.3; sys_platform == 'darwin'
airium>=0.1.0
attrdict>=2.0.1
attrdict3


## ~~ Streaming Requirements ~~ 

muselsl>=2.0.2
# Upgrade from 1.10.5 to 1.16.2 so the arm64 lib is available to macOS Apple Silicon for preventing error:
# pylsl/liblsl64.dylib' (mach-o file, but is an incompatible architecture (have 'x86_64', need 'arm64e' or 'arm64'))
pylsl==1.16.2
brainflow>=4.8.2
pysocks>=1.7.1
pyserial>=3.5
h5py>=3.1.0
pytest-shutil
pyo>=1.0.3; platform_system == "Linux"
#pynput requires pyobjc, psychopy requires a version less than 8, setting pyobjc to
# a specific version prevents an endless dependency resolution loop.
pyobjc==7.3; sys_platform == 'darwin'
#Removed keyboard dependency due segmentation fault on Apple Silicon: https://github.com/boppreh/keyboard/issues/507
pynput
airium>=0.1.0
attrdict>=2.0.1
attrdict3
click


## ~~ Stimpres Requirements ~~ 

#pynput requires pyobjc, psychopy requires a version less than 8, setting pyobjc to
# a specific version prevents an endless dependency resolution loop.
pyobjc==7.3; sys_platform == 'darwin'
#upgrade psychopy to use newer wxpython dependency which is prebuilt for m1 support.
psychopy==2023.2.2
ffpyplayer==4.5.2 # 4.5.3 fails to build as wheel.
psychtoolbox
scikit-learn>=0.23.2
pandas>=1.1.4
# psychxr build pinned to this version of numpy.
numpy>=1.26,<1.27;  python_version >= "3.9"
numpy==1.24.4; python_version == "3.8"
mne>=0.20.8
seaborn>=0.11.0
pysocks>=1.7.1
pyserial>=3.5
h5py>=3.1.0
pytest-shutil
pyo>=1.0.3; platform_system == "Linux"
airium>=0.1.0
attrdict>=2.0.1
attrdict3

# pywinhook needs some special treatment since there are only wheels on PyPI for Python 3.7-3.8, and building requires special tools (swig, VS C++ tools)
# See issue: https://github.com/NeuroTechX/eeg-notebooks/issues/29
pywinhook>=1.6.0 ; platform_system == "Windows" and (python_version == "3.7" or python_version == "3.8")
pywinhook @ https://github.com/ActivityWatch/wheels/raw/master/pywinhook/pyWinhook-1.6.2-cp39-cp39-win_amd64.whl ; platform_system == "Windows" and python_version == "3.9"

# pyglet downgrade to prevent threadmode warning on windows
# See issue: https://github.com/psychopy/psychopy/issues/2876
pyglet==1.4.11 ; platform_system == "Windows"

# Oculus/Quest VR support - currently only supported on Windows and
# <= 3.9, otherwise will need Oculus PC SDK to build wheel.
psychxr>=0.2.4rc2; platform_system == "Windows" and python_version <= "3.9"


# Used for generating checkerboard in pattern reversal experiment
stimupy

## ~~ Docsbuild Requirements ~~ 
recommonmark
brainflow
numpydoc

# Docs
sphinx
sphinx-gallery
sphinx_rtd_theme
sphinx-tabs
sphinx-copybutton
sphinxcontrib-httpdomain
numpydoc
recommonmark
versioneer
rst2pdf
docutils

# Tests
mypy
pytest
pytest-cov
nbval

# Types
types-requests

