# Requirements for building the documentation site
sphinx
sphinx-gallery
sphinx_rtd_theme
sphinx-tabs
sphinx-copybutton
sphinxcontrib-httpdomain
numpydoc
recommonmark
versioneer

# Requirements for running the examples
numpy
matplotlib==3.0.3
seaborn==0.9.0
pandas
mne
pyriemann
jupyter
gdown
