bitstring==3.1.5
pylsl==1.10.5
pygatt==3.2.0 
scikit-learn==0.19.1 
pandas==0.23.1 
numpy==1.14.5
mne==0.16.1
seaborn==0.8.1
pyriemann==0.2.5
pexpect==4.6.0
jupyter==1.0.0
vispy==0.5.3
pyglet==1.2.0
muselsl==2.0.2
PsychoPy==1.90.2
git+https://github.com/peplin/pygatt
matplotlib==2.2.2
